
.popover {
    min-width: 236px;
    width: auto;
}
.close-popover{
    float: right;
}
.close-popover:hover {
    cursor: pointer;
}
.popover-content textarea {
    margin: 5px 0;
    padding: 1px;
}
.popover {
    margin-top: 15px;
}
.danger {
    color: red;
    font-weight: bold;
}
.edit_tab_user {
    max-height:450px;
    overflow: auto;
    border-style: none;
}
.edit-user table >tbody >tr >td {
    padding: 0px 8px 8px 8px;
}
.create-user table >tbody >tr >td,
.edit-user table >tbody >tr >td {
    border-top: none;
}
#upload_avatar {
    z-index: 100000;
}
