table.chains {
    width: 97%;
}

table.chains td {
    text-align: center;
}

table.chains tr {
    margin-bottom: 5px;
}

td.chain-body-arrow {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ddd;
    border-top: 8px solid transparent !important;
    opacity: 0.8;
    padding: 0 !important;
    position: absolute;
}

a.btn.btn-mini {
    margin: 0 5px 5px 0;
}

#collapseLogistics-0 .accordion-inner {
    min-height: 400px;
}

.qty-chain-filter {
    float: right;
    margin: -15px -13px;
}

.qty-logistics {
    background-color: #0088cc;
    border-radius: 10px;
    color: #ffffff;
    float: right;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    margin: -11px;
    padding: 2px 3px;
}