.searchselect {
    background-color: #EEEEEE;
    border: 1px none;
    border-radius: 4px 0 0 4px;
    height: 22px;
    margin-right: -2px;
    padding: 0 6px;
    position: relative;
    width: 120px;
    border: 1px solid #D3D3D3;
    border-right: none;
}

.ui-button .ui-button-text {
    min-height: 8px;
}

.small_ids {
    font-size: 0.8em;
    color: #aaa;
}

.ul-list {
    list-style: none;
    margin-left: 60px;
}

.selected-filters a {
    font-weight: bold;
}

#remove-search-info:hover {
    cursor: pointer;
}

#collapse_product_suppliers_orders.in {
    padding: 0 13px 60px 0;
}

.edit_active > label.checkbox {
    margin-bottom: 0;
    min-width: 50px;
}

#export_goods_form > .control-group {
    margin-bottom: 5px;
}
.jquery-tree ul{
    margin-left: 20px;
}
.jquery-tree-checked-partial, .jquery-tree-checked, .jquery-tree-unchecked{
    background-position: 5px 2px !important;
}
.jquery-tree-controls{
    margin: 5px 0;
}
.quick-edit-save_btn {
    position: fixed;
    right: 0;
    top: 170px;
    z-index: 1000;
}

td.edit-price {
    width: 250px;
}
td.edit-price label {
    float:right;
}
td.edit-price .input-small {
    width: 70px;
}
.edit_active {
    white-space: nowrap;
}
.js-delete-product {
    cursor: pointer;
}
.margin-type {
    width: 65px;
}
.small-preview {
    width: 30px;
    height: 30px;
}
.large-preview {
    width: 250px;
    height: 250px;
}
.table-lh-30 > thead > tr > th {
    line-height: 30px;
}
.ui-tooltip {
    max-width: 450px;
}
table.table-goods >thead >tr >th {
    border-bottom: 1px solid #ddd;
    padding: 0 5px
}
table.table-goods >tbody >tr >td {
    padding: 5px
}
table.table-navigation >tbody >tr >td {
    padding: 0 5px
}
a.cart {
    margin-left: 15px;
    display:inline-block;
}