.mb0{
    margin-bottom: 0;
}

.link{
    /*white-space: nowrap;*/
/*    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;*/
    display: inline-block;
}

.modal{
    width: 1000px;
    max-width: 1000px;
    margin-left: -500px;
}

.diff_data{
    color: #b1b1b1;
}
ins{background:#dfd;text-decoration:none;color:black;}
del{background:#fdd;text-decoration:none;color:black;}
rep{color:#008;background:#eef;text-decoration:none;}
.site_diffs{
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.site_diffs > .row-fluid{
    border-bottom: 1px solid #e0e0e0;
}
.site_diffs > .row-fluid:hover{
    background-color: #f7fafd;
}
.site_diffs > .row-fluid > .span4{
    color: #aaaaaa;
    padding: 10px;
}
.diff_body_inner{
    overflow: auto;
    word-wrap: break-word;
    padding: 10px;
    max-height: 100px !important;
}