table.chains {
    width: 97%;
}

table.chains td {
    text-align: center;
}

table.chains tr {
    margin-bottom: 5px;
}

td.chain-body-arrow {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #ddd;
    border-top: 8px solid transparent !important;
    opacity: 0.8;
    padding: 0 !important;
    position: absolute;
}

a.btn.btn-mini {
    margin: 0 5px 5px 0;
}

#collapseLogistics-0 .accordion-inner {
    min-height: 400px;
}

.qty-chain-filter {
    float: right;
    margin: -15px -13px;
}

.qty-logistics {
    background-color: #0088cc;
    border-radius: 10px;
    color: #ffffff;
    float: right;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    margin: -11px;
    padding: 2px 3px;
}

.chains_new .chain_item::after {
    clear: both;
}
.chains_new .chain_item {
    height: 25px;
    width: 100%;
}

.chains_new .chain_item  .chain_number {
    float: left;
    width: 5%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.chains_new .chain_item  .chain_product {
    float: left;
    width: 10%;
}

.chains_new .chain_item .chain_logistics {
    float: left;
    width: 25%;
    height: 20px;
    /*border: 1px solid lightgrey;*/
    /*background-color: #fafafa;*/
    /*color: black;*/
    text-align: center;
    position: relative;
}
.chains_new .chain_item .chain_logistics > .text_container {
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.chains_new .chain_item .chain_logistics.with_bordered {
    border: 1px solid lightgrey;
    background-color: #fafafa;
    color: black;
}

.chains_new .chain_item .chain_logistics.with_arrrow:after {
    position: absolute;
    top: -8px;
    right: -10px;
    content: url('../../../img/arrow_logistics.png');
    display: block;
    width: 20px;
    height: 32px;
    z-index: 300;
}

.chains_new .chain_item .chain_logistics.success {
    background-color: #1ab394;
    color: white;
}

.chains_new .chain_item.danger .chain_logistics {
    background-color: darkred;
    color: white;
}


.chains_new .chain_item .chain_logistics.first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.chains_new .chain_item .chain_logistics.last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.chains_new .chain_item .chain_status {
    float: left;
    width: 10%;
    text-align: center;
}