/* micro */

@media all and (min-width:1px) and (max-width: 960px){
    body, .footer{
        width: 960px !important;
    }
    
    #content{
        width: 960px;
    }
    
    .fotos_container {
        width: 540px;
    }
    
    .top_menu_1 > ul > li > a > .title {
        width: 85px;
    }
    #header {
        width: 960px;
    }
    /*
    #header{
        width: 970px;
        position: absolute;
        top:0;
        left:0;
    }
    */

}

@media all and (min-width:1px) and (max-width: 1070px){

  .inner{
    width: 900px !important;
  }

  #root_menu_wrapper ul li a{
    /*padding: 26px 18px 0 !important;*/
  }
  
  #root_menu_wrapper .submenu ul li a {
      padding: 7px !important;
  }

  /* Submenu horizontal */
    #root_menu_wrapper .horizontal a {
        padding: 0 !important;
    }

    #root_menu_wrapper .horizontal .submenu_inner div {
        width: 140px;
    }
    
    #root_menu_wrapper .horizontal .submenu_inner div a span{
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
    
    .block .submenu_block {
        margin: 10px auto 0;
    }
    #root_menu_wrapper .block a{
        padding: 0 !important;
    }
    
            /* restore */
  .left_menu > ul > li > a > .title {
    width: auto;
  }
  
  .mainpage_banner .slider {
      height: 240px;
  }
  
      .fotos_container {
        width: 550px;
    }
    
        .left_menu .submenu {
        width: 180px;
    }

    .top_menu_1 > ul > li > a > .title {
        width: 100px;
    }
    
    .news_content {
        height: 95px;
        line-height: 1.3em;
    }
    
    .startpage .sidebar > div {
        margin-bottom: 118px;
    }
    
    [class*=_micro] {
        display: inherit;
    }
    
    .header_menu .top_menu_1 > ul > li:first-child,
    .header_menu .top_menu_1 > ul > li:last-child {
        display: none;
    }
    
    .header_menu .top_menu_1 > ul > li {
        width: 12.5%;
    }
    
    .header_menu .top_menu_1 > ul > li:last-child > a {
        padding: 2px 5px 5px;
    }

    .footer_menu_1 {
        margin: 0 auto;
        width: auto;
    }
    #root_menu_wrapper .footer_menu_1 > ul > li,
    #root_menu_wrapper .footer_menu_1 > ul > li:nth-of-type(1),
    #root_menu_wrapper .footer_menu_1 > ul > li:nth-of-type(2),
    #root_menu_wrapper .footer_menu_1 > ul > li:nth-of-type(3),
    #root_menu_wrapper .footer_menu_1 > ul > li:nth-of-type(4),
    #root_menu_wrapper .footer_menu_1 > ul > li:nth-of-type(5),
    #root_menu_wrapper .footer_menu_1 > ul > li:nth-of-type(6),
    #root_menu_wrapper .footer_menu_1 > ul > li:nth-of-type(7),
    #root_menu_wrapper .footer_menu_1 > ul > li:nth-of-type(8) 
    {
        width: 11%;
        padding: 0 5px;
    }
    
    #root_menu_wrapper .footer_menu_1 > ul > li > a > .title {
        padding-top: 5px;
    }
    
    .video_blog{
      width:210px;
      margin-right: 10px;
    }
}
/* -------------------------------------------------------------------------- */

@media all and (min-width:1px) and (max-width: 1200px){
    .info_string span{
        display: block;
    }
    
    .info_string{
        padding-top: 1px;
        line-height: 14px;
    }
}

/* mini */
@media all and (min-width:1px) and (max-width: 1366px){

   .info_string{
       font-size: 13px;
   }
    
  /*header, logo, footer*/
  .header_top{
    /*height: 70px;*/
    background: url(../images/h_bg_menu_m2.png);
  }

  .slidedown_map {
      top: 80px;
  }
/*
  #logo{
    margin-top: 12px;
    height: 42px;
  }  
*/
  .inner{
    width: 1000px;
  }

    /*root menu*/
  #root_menu_wrapper ul li:hover,
  #root_menu_wrapper ul li.active{
    /*background: url(../images/h_bg_button_active_m2.png) !important;*/
  }
  
  #root_menu_wrapper ul li a{
    font-size: 14px;
    padding: 26px 28px 0;
    height: 42px;
  }
  
  #root_menu_wrapper .submenu{
      top: 68px;
  }
  
  #root_menu_wrapper .submenu ul li a {
      padding: 10px;
  }

  /* Line submenu */
    #root_menu_wrapper .horizontal .submenu_inner div a {
        padding: 0;
    }
    
  /* Block submenu*/
  
    .block .submenu_block_top {
        background: url("../images/vverh_m2.png") repeat scroll 0 0 transparent;
        height: 21px;
    }

    .block .submenu_block_center {
        background: url("../images/seredyna_m2.png") repeat scroll 0 0 transparent;
    }

    .block .submenu_block_bottom {
        background: url("../images/niz_m2.png") repeat scroll 0 0 transparent;
        height: 23px;
    }
    
    #root_menu_wrapper .block a{
        padding: 0;
    }


  .menu_delimiter{
    background: url("../images/h_menu_delimiter_m2.jpg") repeat scroll 0 33px transparent ;
    width: 2px;
    height: 30px;
    margin-top: 20px;
  }

  .menu_arrow{
    margin-left: -23px;
    margin-bottom: -2px;
    width: 47px;
    height: 19px;
    background: url(../images/h_menu_corner_m2.png);
  }

  /*contacts*/
  .contacts{
    margin-left: 10px;
  }
  .contacts > div.contacts_inner > div > span.contacts_phone,
  .contacts_body_header{
    /*font-size: 14px;*/
  }
  .contacts > div.contacts_inner > div{
    /*padding: 25px 0 0 0;*/
  }
  .contacts_big .contacts_phone {
    font-size: 1.2em;
  }

    /* articles */
    .breadcrumbs a {
        background: url("../images/iconka_vernutsya_m2.png") no-repeat scroll 0 0 transparent;
        height: 20px;
    }

  .footer{
    /*background: url("../images/h_bg_footer_m2.png") repeat scroll 0 0 transparent;*/
    height: 38px;
  }

      #share {
        right: 0;
    }
    
    .top_menu_2 .content_images {
        width: 960px;
    }
    
    .top_menu_2 .content_images > div > div{
        margin: 10px;
        padding-top: 10px;
    }
    
    .wide_flayer > .image {
        height: 200px;
    }
    
    .advantages.horizontal {
        margin-top: 20px;
    }
    
    .advantages.horizontal p {
        height: 110px;
        text-align: center;
        width: 180px;
        margin-right: 10px;
    }
    
    .advantages.horizontal p span {
        height: auto;
        text-align: center;
    }

    .advantages.horizontal img{
        float: none;
        margin: 0 auto;
    }
    
    /* Main menu */
    .header_menu .top_menu_1 > ul {
        /*margin-left: 4%;*/
    }

    .main_menu_icon {
        display: none;
    }
    
    .header_menu .top_menu_1 > ul > li > a {
        font-size: 1.2em;
    }

    .video_blog{
      width:235px;
      margin-right: 15px;
      height: 230px;
    }
}
/* -------------------------------------------------------------------------- */


/* middle */
@media all and (min-width:1367px) and (max-width: 1900px){
  *{
    font-size: 14px;
  }

  .header_top{
    /*height: 83px;*/
        /*height: 75px;*/
    background: url(../images/h_bg_menu_m.png);
  }
  
  .slidedown_map {
      top: 80px;
  }
  #content.content{
    top: 93px;
  }
  
  .contacts_btn{
    padding: 7px 8px 10px;
    right: -25px;
    top: 20px;
    }
    

/*
  #logo{
    margin-top: 15px;
    height: 42px;
  }      
*/
  .inner{
    width: 1200px;
  }

  #root_menu_wrapper ul li a{
    font-size: 17px;
    padding: 30px 32px 0;
    height: 48px;
  }
  
  #root_menu_wrapper .submenu{
      top: 81px;
  }

  #root_menu_wrapper .submenu ul li a {
      padding: 13px;
  }

    /* Submenu horizontal */
    
  #root_menu_wrapper .horizontal {
       /*height: 300px;*/
  }

    #root_menu_wrapper .horizontal a {
        padding: 0;
        font-size: 17px;
    }

   #root_menu_wrapper .horizontal .submenu_inner div {
        width: 160px;
    }
    
    #root_menu_wrapper .horizontal .submenu_inner div a span{
        padding-left: 7px;
        padding-right: 7px;
    }
    
    #root_menu_wrapper .block a{
        padding: 0 !important;
    }
    
    .block .submenu_block {
        width: 231px;
    }
    
    .block .submenu_block_top {
        background: url("../images/vverh_m.png") repeat scroll 0 0 transparent;
        height: 25px;
    }

    .block .submenu_block_center {
        background: url("../images/seredyna_m.png") repeat scroll 0 0 transparent;
    }

    .block .submenu_block_bottom {
        background: url("../images/niz_m.png") repeat scroll 0 0 transparent;
        height: 27px;
    }   #root_menu_wrapper .horizontal .submenu_inner div {
        width: 160px;
    }
    
    #root_menu_wrapper .horizontal .submenu_inner div a span{
        padding-left: 7px;
        padding-right: 7px;
    }
    
    #root_menu_wrapper .block a{
        padding: 0 !important;
    }
    
    .block .submenu_block_top {
        background: url("../images/vverh_m.png") repeat scroll 0 0 transparent;
        height: 21px;
    }

    .block .submenu_block_center {
        background: url("../images/seredyna_m.png") repeat scroll 0 0 transparent;
    }

    .block .submenu_block_bottom {
        background: url("../images/niz_m.png") repeat scroll 0 0 transparent;
        height: 23px;
    }


  #root_menu_wrapper ul li:hover,
  #root_menu_wrapper ul li.active{
    /*background: url(../images/h_bg_button_active_m.png) !important;*/
  }

  .menu_delimiter{
    background: url("../images/h_menu_delimiter_m.jpg") repeat scroll 0 45px transparent ;
    width: 3px;
    height: 40px;
    margin-top: 20px;
  }

  .menu_arrow{
    margin-bottom: -2px;
    margin-left: -28px;
    width: 56px;
    height: 22px;
    background: url(../images/h_menu_corner_m.png);
  }


 /*contacts*/
  .contacts > div.contacts_inner > div > span.contacts_phone,
  .contacts_body_header{
    /*font-size: 18px;*/
  }
  .contacts > div.contacts_inner > div{
    /*padding: 28px 0 0 0;*/
  }
  
  
    /* articles */
    .breadcrumbs a {
        background: url("../images/iconka_vernutsya_m.png") no-repeat scroll 0 0 transparent;
        height: 25px;
    }
    .content_inner,
    #content_inner {
        /*margin: 200px auto;*/
        /*margin: 170px auto;*/
    }
    
  /*footer*/
  .footer{
    /*background: url("../images/h_bg_footer_m.png") repeat scroll 0 0 transparent;*/
    height: 44px;
  }

  /* restore */
  .left_menu > ul > li > a > .title {
    width: 205px;
  }
  
  .mainpage_banner .slider {
      height: 320px;
  }
  
  
    .fotos_container {
        width: 740px;
        height: 290px;
    }
    
    .top_menu_1 > ul > li > a > .title {
        /*width: 135px;*/
        width: 102px;
    }
    
    .top_menu_1 > ul > li > a {
        /*height: 60px;*/
        /*height: 55px;*/
    }
    
    a.category, span.category.anchor {
        width: 260px;
    }
    .category > .title {
        width: 190px;
    }
    
    .top_menu_2 .content_images > div > a {
        /*height: 56px;*/
        height: 66px;
    }
    
    .menu_left_arrow, .menu_right_arrow {
        height: 74px;
        width: 43px;
    }
    
    .top_menu_2 .content_images >.menu_delimiter {
        height: 45px;
    }
    
    .news_content {
        height: 144px;
    }
    
    .startpage .sidebar > div {
        margin-bottom: 97px;
    }
    
    .copyright a {
        bottom: 60px;
    }
    
    .contacts_big .contacts_phone {
        font-size: 1.3em;
    }
    .video_blog{
      width:280px;
      margin-right: 20px;
      height: 285px;
    }
}
/* -------------------------------------------------------------------------- */



/* макс. */
@media all and (min-width:1870px), 
all and (min-height: 1024px) and (min-width: 1280px){
  *{
    font-size: 16px;
  }

  .header_top{
    /*height: 97px;*/
        /*height: 87px;*/
    background: url(../images/h_bg_menu.png);
  }
  
  .slidedown_map {
      top: 87px;
  }
  
  #content.content{
    top: 107px;
    bottom: 50px;
  }
  
    .contacts_btn{
        padding: 9px;
        right: -29px;
        top: 25px;
    }
/*
  #logo{
    margin-top: 18px;
    height: 57px;

  }
*/
  .inner{
    width: 1400px;
  }

  #root_menu_wrapper ul li a{
    font-size: 20px;
    padding: 37px 40px 0;
    height: 57px;
  }
  
  #root_menu_wrapper .submenu{
      top: 95px;
  }
  
  #root_menu_wrapper .submenu ul li a {
      padding: 13px;
  }

    /* Submenu horizontal */
    
  #root_menu_wrapper .horizontal {
       /*height: 360px;*/
  }

    #root_menu_wrapper .horizontal a {
        padding: 0;
    }

    #root_menu_wrapper .horizontal .submenu_inner div {
        width: 160px;
    }
    
    #root_menu_wrapper .horizontal .submenu_inner div a span{
        padding-left: 7px;
        padding-right: 7px;
    }
    
    #root_menu_wrapper .block a{
        padding: 0 !important;
    }
    
    .block .submenu_block {
        width: 269px;
    }
    
    .block .submenu_block_top {
        background: url("../images/vverh.png") repeat scroll 0 0 transparent;
        height: 28px;
    }

    .block .submenu_block_center {
        background: url("../images/seredyna.png") repeat scroll 0 0 transparent;
    }

    .block .submenu_block_bottom {
        background: url("../images/niz.png") repeat scroll 0 0 transparent;
        height: 30px;
    }

  #root_menu_wrapper ul li:hover,
  #root_menu_wrapper ul li.active{
    /*background: url(../images/h_bg_button_active.png) !important;*/
  }

  .menu_delimiter{
    background: url("../images/h_menu_delimiter.jpg") repeat scroll 0 45px transparent ;
    width: 3px;
    height: 45px;
    margin-top: 25px;
  }

  .menu_arrow{
    margin-bottom: -3px;
    margin-left: -32px;
    width: 65px;
    height: 26px;
    background: url(../images/h_menu_corner.png);
  }

 /*contacts*/
  .contacts > div.contacts_inner > div > span.contacts_phone,
  .contacts_body_header{
    /*font-size: 22px;*/
  }
  .contacts > div.contacts_inner > div{
    /*padding: 34px 0 0 0;*/
  }

  


  #submenu{
    top: 97px;
  }

      /* articles */
    .breadcrumbs a {
        background: url("../images/iconka_vernutsya.png") no-repeat scroll 0 0 transparent;
        height: 30px;
    }
    .content_inner,
    #content_inner {
        /*margin: 230px auto;*/
        /*margin: 200px auto;*/
    }
    
    /*footer*/
  .footer{
    /*background: url("../images/h_bg_footer.png") repeat scroll 0 0 transparent;*/
    height: 50px;
  }

    /* restore */
  .left_menu > ul > li > a > .title {
    width: 240px;
  }
  
  .mainpage_banner .slider {
      height: 375px;
  }
  
    .fotos_container {
        width: 880px;
        height: 290px;
    }
  
    .left_menu  .submenu {
        width: 270px;
    }
    
    .left_menu .submenu ul li a {
        width: 170px;
    }
    
    .top_menu_1 > ul > li > a > .title {
        /*width: 160px;*/
        width: 127px;
    }
    .top_menu_1 > ul > li > a {
        /*height: 67px;*/
        /*height: 70px;*/
    }
    
    a.category, span.category.anchor {
        width: 260px;
        height: 70px;
    }
    .category > .title {
        width: 190px;
    }
    
    .top_menu_2 .content_images > div > a {
        /*height: 66px;*/
        height: 76px;
    }
    
    .menu_left_arrow, .menu_right_arrow {
        height: 83px;
        width: 47px;
    }
    
    /* may cause JS resizing trouble */
    .top_menu_1 .top_menu_2 .submenu {
        width: 215px;
    }
    
    .top_menu_2 .content_images >.menu_delimiter {
        height: 55px;
    }
    
    .news_content {
        height: 183px;
    }
    
    .startpage .sidebar > div {
        margin-bottom: 101px;
    }
    
    .copyright a {
        bottom: 65px;
    }
    
    .advantages {
        margin-top: 4.2em;
    }
    
    .afterhead {
        /*height: 113px;*/
    }
    
    .contacts_big .contacts_phone {
        font-size: 1.4em;
    }
    
}
/* -------------------------------------------------------------------------- */
