@media all and (min-width:1px) and (max-width: 1130px){
    .service_content img{
        width: 205px !important;
    }

      .news_inner{
          width: 235px !important;
      }

      .news_title{
          font-size: 10px !important;
      }
      
      #navigation footer{
          bottom: 40px;
      }
      
      #pageMap{
          height: 300px;
      }
      
      .gallery_preview > span {
          width: 128px;
          height: 80px;
      }
}


/* мин. */
@media all and (min-width:1px) and (max-width: 1366px){
    .service_content img{
        width: 245px;
    } 

    .news_inner{
        width: 265px;
    }

    .news_title{
        font-size: 12px;
    }

    #actions_info > h1 {
        font-size: 28px;
    }

    #actions_info > h2 {
        font-size: 18px;
    }

    .service_content h1{
        font-size: 20px;
    }

    #services_nav{
        margin-top: -40px; 
        width: 785px;
        height: 86px;
    }

    #services_nav_bg{
        background: url(../images/bg-arrow_m2.png);
    }
      
    #services_nav_bg_inner, 
    #services_nav_numbers{
        width: 660px;
    }

    #services_nav_arrow{
        top: 6px;
        height: 74px;
        background: url(../images/bg-arrow_m2.png);
        background-position: -125px -88px;
    }
    
    #services_nav_arrow{ 
        width: 160px;
    }
    
    .services_nav_number{
        width: 60px;
        padding-left: 65px;
        font-size: 68px;
    }
    
    #services_nav_text{
        width: 140px;
        padding: 7px 0 0 10px;
        line-height: 24px;
        font-size: 18px;
    }
    .qtext{
        height: 160px;
    }
    .qtitle {
        padding: 4px 0;
    }  
}
/* -------------------------------------------------------------------------- */





/* сред. */
@media all and (min-width:1367px) and (max-width: 1919px){
    *{
        font-size: 14px;
    }
    #root_menu li a{
        font-size: 22px;
    }
    
    .tel{
        font-size: 22px;
    }
    
    #question{
        font-size: 18px;
    }
    .service_content img{
        width: 280px;
    } 
    #services_nav{
        margin-top: -49px; 
        width: 900px;
        height: 98px;
    }

    #services_nav_bg{
        background: url(../images/bg-arrow_m.png);
    }
      
    #services_nav_bg_inner, 
    #services_nav_numbers{
        width: 757px;
    }

    #services_nav_arrow{
        top: 6px;
        height: 87px;
        background: url(../images/bg-arrow_m.png);
        background-position: -148px -100px;
        width: 187px;
    }
    
    .services_nav_number{
        width: 72px;
        padding-left: 72px;
        font-size: 76px;
    }
    
    #services_nav_text{
        width: 140px;
        padding: 7px 0 0 10px;
        line-height: 28px;
        font-size: 22px;
    }
    
    .service_content h1{
        margin-bottom: 75px;
    }
    
    .service_content img {
        margin-bottom: 135px;
    }
    
    .service_content h1,
    .service_content article {
        left: 155px;
    }
    
    .service_content article {
        margin-top: 75px;
    }
    
    .service_content img{
        left: 110px;
    }
    
    #accordeoncheg > li > a {
        font-size: 16px;
    }
    
    #content_here_inner article * {
        font-size: 18px;
    }
    
    .gallery_preview > span {
        width: 176px;
        height: 105px;
    }
    .qtext{
        height: 190px;
    }
    
}
/* -------------------------------------------------------------------------- */





/* макс. */
@media all and (min-width:1920px), 
       all and (min-height: 1024px) and (min-width: 1280px){
    *{
        font-size: 16px;
    }
    #root_menu li a{
        font-size: 26px;
    }
    
    .tel{
        font-size: 26px;
    }
    
    #question{
        font-size: 22px;
    }
    .service_content img{
        width: 380px;
    }
    
    .news_inner{
        width: 350px;
    }

    .news_title{
        font-size: 18px;
    }
    
    #actions_info > h1 {
        font-size: 40px;
    }
      
    #actions_info > h2 {
        font-size: 26px;
    }

    .service_content h1{
        font-size: 28px;
    }
    #services_nav{
        margin-top: -57px; 
        width: 1043px;
        height: 114px;
    }

    #services_nav_bg{
        background: url(../images/bg-arrow.png);
    }
      
    #services_nav_bg_inner, 
    #services_nav_numbers{
        width: 877px;
    }

    #services_nav_arrow{
        top: 7px;
        height: 100px;
        background: url(../images/bg-arrow.png);
        background-position: -170px -115px;
        width: 214px;
    }
    
    .services_nav_number{
        width: 80px;
        padding-left: 86px;
        font-size: 90px;
    }
    
    #services_nav_text{
        width: 140px;
        padding: 7px 0 0 15px;
        line-height: 33px;
        font-size: 26px;
    }
    
    
    .service_content h1{
        margin-bottom: 85px;
    }
    
    .service_content img {
        margin-bottom: 145px;
    }
    
    .service_content h1,
    .service_content article {
        left: 180px;
    }
    
    .service_content article {
        margin-top: 85px;
    }
    
    .service_content img{
        left: 110px;
    }
    
    #accordeoncheg > li > a {
        font-size: 18px;
    }
    
    #content_here_inner article * {
        font-size: 20px;
    }
    
    .gallery_preview > span {
        width: 190px;
        height: 115px;
    }
    
    .qtext{
        height: 230px;
    }
    
}
/* -------------------------------------------------------------------------- */
