.service_modal_alpha{
    display: none;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
}
.service_modal{
    overflow: hidden;
    text-align: left;
    border-radius: 10px;
    max-height: 90%;
    display: none;
    position: fixed;
    z-index: 2001;
    background-color: #fff;
    max-width: 900px;
    width: 95%;
    top: 50%;
    left: 50%;
}
.service_modal .modal_header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #DBDBDB;
    padding: 20px 40px;
    font-size: 24px;
    position: relative;
    color: #606060;
}
@media all and (max-width: 768px){
    .service_modal .modal_header{
        font-size: 18px;
    }
    .service_modal .close_service_modal{
        padding: 11px 30px !important;
    }
}
.service_modal .modal_content{
    height: 100%;
    overflow: hidden;
}
.service_modal .close_service_modal{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 17px 40px;
    font-size: 30px;
}
.service_modal .close_service_modal:hover{
    color: #282828;
}
.service_modal .modal_body{
    overflow: hidden;
    overflow: auto;
}
.service_modal .modal_body_text{
    padding: 20px 40px;
}
.service_btn{
    float: right;
    color: #fff;
    background: #4A80A8;
    border: 0;
    padding: 5px 10px;
    font-size: 13px;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-right: -6px;
}
@media all and (max-width:1366px){
    .service_btn{
        font-size: 12px;
        padding: 3px 5px;
    }
}
.service_btn:hover{
    background: #829fbf;
    cursor: pointer;
}
.modal_body_btn{
    text-align: center;
    padding: 15px 0;
    background-color: #fff;
    width: 100%;
}
.modal_body_btn input{
    width: auto !important;
}
.service_btn_request_form{
    display: none;
    text-align: center;
}
.service_btn_request_form > .service_form{
    margin: 0;
    display: inline-block;
}
.service_btn_request_form .service_recall{
    font-weight: bold;
    padding: 40px 0;
    display: none;
}