#logo_gincore{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
}
#logo_gincore img{
    width: 150px !important;
    margin-top: 7px;
}

@media all and (max-width: 768px){
    #logo_gincore{
        margin-left: 5px;
    }
}

.navbar .brand{
    padding: 0;
    margin: 0 ;
}

#middle{
    margin: 0 !important;
    padding: 0 !important;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* GA */
div.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}
div.loading-wrapper-text {
    position: fixed;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    text-shadow: gray 1px 1px 2px;
}
/* END - GA*/

#middle {
    margin-top: 41px;
    padding: 10px;
}

thead {
    font-weight: bold;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}

/* GA */
div.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}

div.loading-wrapper-text {
    position: fixed;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    text-shadow: gray 1px 1px 2px;
}

/* END - GA*/

.center {
    text-align: center;
}

#accordion-messages .accordion-heading > .pull-right {
    color: #bbbbbb;
    margin-right: 10px;
    margin-top: 7px;
}

/* parsleyjs begin */
input.parsley-success, textarea.parsley-success {
    color: #468847 !important;
    background-color: #DFF0D8 !important;
    border: 1px solid #D6E9C6 !important;
}

input.parsley-error, textarea.parsley-error, label.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}

ul.parsley-error-list {
    font-size: 11px;
    margin: 2px;
    list-style-type: none;
}

ul.parsley-error-list li {
    line-height: 11px;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error,
label.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.checkbox.parsley-error {
    color: #B94A48 !important;
}
/* parsleyjs end */

#order_supplier_date_wait {
    display: none;
}

table.show-suppliers-orders td input, table.show-suppliers-orders td a {
    margin: 0 0 5px;
    line-height: 15px;
}

table.show-suppliers-orders {
    font-size: 0.8em;
}

table.show-suppliers-orders p {
    margin: 0;
}

table.show-suppliers-orders tr > td {
    padding: 3px 5px;
}

.tab-content {
    overflow: visible;
}

/* suppliers end */

.multiselect-item.filter .input-group{
    margin: 10px 0 0 0;
}
.multiselect-container li{
    margin: 0 10px;
    padding: 0 5px;
    white-space: nowrap;
}
.multiselect-container li a{
    outline: none;
}
.multiselect-btn-group.open{
    z-index: initial !important;
}

/* begin chains */
td.td-moves {
    padding: 0;
}

td.td-moves div.chain-cell i.remove_chain {
    display: none;
}

td.td-moves div.chain-cell:last-child i.remove_chain {
    display: block;
}

td.td-moves > div.chain-cell {
    padding: 5px;
    width: 130px;
    display: inherit;
}

div.warning {
    background-color: #fcf8e3;
    border: 1px solid #DDDDDD;
}

div.success {
    background-color: #DFF0D8;
}

div.info {
    background-color: #3a87ad;
    color: #FFFFFF;
}

td.success {
    background-color: #DFF0D8 !important;
}

div.error {
    background-color: #F2DEDE;
}

.red {
    background-color: #ffa593;
}

table.logistics-table {
    max-width: 1000%;
    width: -moz-max-content;
}

tr.border-top td {
    border-top: 1px solid #8E8E8E;
}

.lchain-td > .body-chain {
    padding: 1px;
}

.lchain-td {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.lchain-td > div {
    font-size: 0.8em;
    text-align: center;
}

.logistic-body-block {
    height: 12px;
    width: 45px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}

td > .cell.border-bottom {
    border-bottom: 1px solid #DDDDDD;
}

td > .cell.border-bottom > select {
    font-size: 12px;
    height: 22px;
    padding: 2px 5px;
}

td > .cell.border-bottom:last-child {
    border-bottom: none;
}

td > .cell {
    height: 24px;
    overflow: hidden;
}

.body-chain i.remove_chain {
    display: none;
}

.body-chain:last-child i.remove_chain {
    display: block;
}
/* end chains */

span.tab_count {
    background-color: #0088CC;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    /*margin: -16px -3px 0;*/
    padding: 1px 3px;
    position: absolute;

    right: -3px;
    top: -8px;
}

.click_tab {
    position: relative;
}

#profit_margin {
    font-size: 0.8em;
    height: 0;
    position: absolute;
    right: 0;
    top: 12px;
}

.well > h4 {
    margin-top: 0px;
}

.editable-popup {
    z-index: 1050 !important;
}

.popover {
    z-index: 1050;
    /*min-width: 236px;
    width: auto !important;*/
}

.popover-content p, .popover-content ul, .popover-content ol {
    overflow: hidden;
}

.popover .popover-inner {
    max-height: 300px;
    overflow-y: auto;
}
/*.popover-info {
    display: block;
    margin: 3px;
    max-width: 100px;
    overflow: hidden;
}*/

#infoblock {
    position: fixed;
    top: 100px;
    right: -600px;
    width: 600px;
    z-index: 5;
    padding: 5px 10px 10px;
    background: #F1DA91;
    -moz-transition: right .1s ease-out;
    -ms-transition: right .1s ease-out;
    -o-transition: right .1s ease-out;
    -webkit-transition: right .1s ease-out;
    transition: right .1s ease-out;
    height: 80%;
    min-height: 200px;

}

#infoblock.activate {
    right: 0px !important;
    box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.2);
}

#infoblock > span {
    position: absolute;
    left: -13px;
    top: 0;
    display: block;
    height: 20px;
    width: 13px;
    border-radius: 5px 0 0 5px;
    background: #F1DA91;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.infoblock-container {
    height: 100%;
}

.infoblock {
    overflow-y: scroll;
    font-size: 13px;
    line-height: 15px;
    color: #222222;
    height: 100%;
}

table.table-compact, table.table-medium {
    font-size: 0.8em;
}

table.table-compact tr > td,
table.table-compact tr > th
{
    padding: 2px;
    line-height: 12px;
}

table.table-medium tr > td {
    line-height: 14px;
    padding: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.btn.text-left {
    text-align: left;
}

/*.modal {
    max-width: 700px;
}*/

.nav-tabs{
    margin-bottom: 20px;
}

ul.dropdown-menu {
    max-height: 300px;
    overflow: auto;
    z-index: 1050;
}

.modal ul.dropdown-menu {
    max-height: 200px;
}

a.none-decoration:hover {
    text-decoration: none;
}

td.text-right {
    text-align: right !important;
}

ul.inline, ol.inline {
    margin-left: 0;
    list-style: none;
}

ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* marked icons begin */
.icons-marked {
    cursor: pointer;
    display: inline-block;
    height: 19px;
    margin: 0 1px 0 2px;
    width: 19px;
}

.icons-marked.fa{
    color: #afafaf;
    font-size: 16px;
    padding: 2px 0 0 3px;
}
.icons-marked.fa.fa-bookmark{
    color: #F3CC65;
}

.star-marked-unactive {
    background: url("../img/star.png") no-repeat scroll 0 0 transparent;
}

.star-marked-active {
    background: url('../img/star-active.png') no-repeat scroll 0 0 transparent;
}
/* marked icons end */

td, td > * {
    vertical-align: inherit !important;
}

.count_on_page {
    float: left;
}
.count_on_page > select {
}

.save_all_fixed {
    position: fixed;
    right: 30px;
    top: 100px;
}

i.disabled, i[disabled] {
    cursor: default;
    opacity: 0.65;
}

.div-table {
    width: 100%;
    /*border-spacing: 5px;/*cellspacing:poor IE support for  this*/
}

.div-thead {
    font-weight: bold;
}

.div-table .div-table-col {
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 15px;
}

.div-table .div-tbody .div-table-row:last-child .div-table-col,
.div-table .div-tfoot .div-table-row:last-child .div-table-col {
    border-bottom: -moz-use-text-color;
}

.div-table-row {
    display: flex;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left;/*fix for buggy browsers*/
    display: table-column;
    line-height: 14px;
    padding: 5px;
}

.div-table-scroll .div-tbody  {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.div-table-scroll .div-tfoot .div-table-row:first-child .div-table-col {
    border-top: 1px solid #ddd;
}

.div-table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #ddd #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-radius: 4px;
    border-style: solid solid solid none;
    border-width: 1px;
}

.btn-callback:hover {
    text-decoration: none;
}

.btn-callback {
    background-color: #fff;
    display: inline-block;
    padding: 0 5px;
    color: #000;
}

.btn-messages {
    background-color: #fff;
    display: inline-block;
    padding: 0 5px;
}

.btn-messages:hover {
    text-decoration: none;
}

.div-table-bordered .div-table-col {
    border-left: 1px solid #ddd;
}

.div-table-col[class*="span"] {
    margin: 0px;
}

input.row-input {
    display: block;
    margin-bottom: 5px;
}

#move-order {
    margin-top: 7px;
    padding: 2px;
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 65px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.input-min {
    width: 30px;
}

.relative{
    position: relative;
}

.cloneAndClear {
    cursor: pointer;
    display: block !important;
    margin: 10px -25px !important;
    position: absolute;
    right: 0;
}

/*#add-alarm .btn {*/
    /*margin-left: 40px;*/
/*}*/

#add-alarm .checkbox {
    margin-left: 10px;
}

.fullscreen-container .navbar, .fullscreen-container .nav, .fullscreen-container .form-inline {
    display: none;
}

.fullscreen-container #middle {
    margin-top: 0px;
}

.close-fullscreen-container {
    display: none;
}

.fullscreen-container .close-fullscreen-container {
    display: block;
    background-color: #ffffff;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 30px;
    cursor: pointer;
}

@media all and (min-width: 1000px){
    .modal.modal-lg{
        max-width: 1000px;
        width: 1000px;
        margin-left: -500px
    }
}

.form-control.daterangepicker{
    top: auto;
    left: auto;
    margin-top: 0;
}

.nav.nav-pills{
    margin-bottom: 20px;
}

.input-auto-width{
    width: auto;
}

.inline-block{
    display: inline-block;
}

.form-group-row{
    
}
.form-group-row > div{
    padding: 0;
}

.bootbox-big.modal{
    overflow: hidden;
    bottom: auto;
}
.bootbox-big .modal-dialog{
    width: 95%;
}
.bootbox-big .modal-body{
    max-height: 500px;
    overflow: auto;
}

.typeahead_add_form_box{
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    border: 1px solid #d9d9d9;
    right:0;
    z-index: 10;
}
.multiselect-sm .multiselect-selected-text{
    margin-right: 5px;
    max-width: 200px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* glossary */

.show_glossary{
    position: fixed;
    right: 0;
    top: 95px;
    z-index: 1002;
    width: 35px;
    height: 35px;
}
.glossary{
    display: none;
    position: fixed;
    top: 95px;
    right: 40px;
    width: 100%;
    padding: 10px 10px 0 10px;
    height: 100%;
    max-width: 735px;
    max-height: 525px;
    background-color: #fff;
    z-index: 1002;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}
.glossary_content{
    width: 100%;
    height: 100%;
}
.glossary iframe{
    border: 0;
    width: 100%;
    height: 100%;
}
.glossary_close{
    position: absolute;
    top: 3px;
    width: 22px;
    height: 22px;
    background-color: #fff !important;
    right: 4px;
}
.glossary_close .close{
    width: 100%;
    height: 100%;
}
.glossary_alpha{
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

/* / glossary */

.zadarma_button_call_consultant{
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 1002;
    width:57px;
    overflow: hidden;
}


.toggle_btn{
    border-bottom: 1px dashed;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    color: #5b5b5b;
}
.toggle_box.in{
    display: block;
}
.toggle_box{
    display: none;
}

.manager_fail_percent{
    display: inline-block;
    padding: 5px 15px;
    color: #fff !important;
}
.manager_fail_percent:hover{
    text-decoration: underline;
}

.modal-open #menu{
    overflow: hidden;
}
.panel-heading.panel-white {
    background-color: white;
}
.flash-messages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
table.borderless > tbody > tr > td{
    border-style: none;
}
table.table-paddingless > tbody > tr > td{
    padding: 0 !important;
}
td.hide-field-td {
    display: none;
    padding-right: 10px;
}
.count_all_records {
    min-width: 180px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
}
.bootstrap-switch-animate {
    margin-bottom: 4px;
}
.bootstrap-switch-container {
    height:28px;
    overflow: hidden;
}
span.tag {
    border-radius: 4px;
    display: inline-block;
    color: white;
    padding: 0px 10px;
    text-align: center;
}
legend span.tag {
    line-height:22px;
}
#navigation .btn.btn-default {
    background-color: #f7f9fa;
    border: 0 none;
    border-radius: 0;
    padding: 15px 12px 15px 20px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 130px;
}
#navigation .btn.btn-default:hover {
    color: #34495e;
    background-color: #fff;
}
#side-menu li.active > .btn.btn-default {
    background-color: #fff;
    color: #34495e;
}
#navigation .btn.btn-default.full-size {
    width: 100%;
}
.nav > li > a.main {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 20px 15px 15px !important;
}

.alert-clock {
    float: left;
    padding: 0px 15px 0px 15px;
    line-height: 24px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.alert-clock span.from {
    color: #000;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    padding: 0 5px 0 5px;
}

.tariff_messages{
    font-size: 20px;
    border-radius: 0;
    text-align: center;
}

.profile-tariff{
    cursor: pointer;
    background-color: #3598DB;
    color: #fff;
    text-align: center;
    padding: 5px 0 7px 0;
    line-height: 1.2;
}
.profile-tariff:hover{
    background-color: #40A1E2;
}
.profile-tariff>span{
    border-bottom: 1px dashed;
    font-size: 120%;
}

.btn-brd{
    color: inherit !important;
    background-color: transparent !important;
}
.remove_currency{
    cursor: pointer;
}
.block-right {
    float: right;
    display: inline-block;
}

.tw100 {
    display: table-cell;
    width: 100%;
    padding-left:5px;
}
.lh30 {
    vertical-align: middle;
   white-space: nowrap;
    display: table-cell;
}
.bordered {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}
table.table-no-border tr td,
table.table-borderless tr td
{
    border:  0px;
}

.infopopover.popover{
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.infopopover.popover .popover-content{
    font-size: 12px;
}
.infopopover.popover{
    width: 400px;
    max-width: none;
    box-shadow: none;
    background: transparent;
    border: 0;
}
.infopopover.popover.left .popover-body{
    float: right;
}
.infopopover.popover>.arrow{
    z-index: 1;
}
.infopopover.popover.left>.arrow{
    right: -9px;
}
.infopopover.popover.right>.arrow{
    left: -9px;
}
.infopopover.popover .popover-body{
    position: relative;
    text-align: left;
    max-width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    display: inline-block;
}
.infopopover_question{
    cursor: pointer;
    vertical-align: top;
    font-size: 14px !important;
    padding: 0 5px;
}
.infopopover_onload{
    content: " ";
    vertical-align: middle;
    display: inline-block;
}
.infopopover.popover .infopopover-close {
    color: #909090;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    font-size: 12px;
}
.infopopover.popover .infopopover-close:hover{
    color: #000;
}
.as_link {
    border: none;
    border-bottom: 1px dashed;
    color: #5b5b5b;
    cursor: pointer;
    display: inline-block;
    background-color: white;
}
.as_item_list {
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
}
.as_button {
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 115px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.8em;
}
.table-fs-12 >thead >tr{
    text-align: center;
}
.table-fs-12 >tbody >tr{
    font-size: 12px !important;
    max-height: 45px;
    text-overflow: ellipsis;
}

.table-fs-12 >tbody >tr >td{
    font-size: 12px;
    height: 30px;
    text-overflow: ellipsis;
}
div.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal; /* для IE */
    text-overflow: ellipsis;
}
.template-remove {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
#suppliers-order-form table,
#suppliers-order-form table thead > tr >td >label,
#suppliers-order-form .form-group{
    margin-bottom: 0;
}

#suppliers-order-form table thead > tr >td {
    padding-bottom: 0;
    padding-top: 0;
}

#suppliers-order-form .submit-form-btn {
    width: 91px;
}
button.multiselect {
    position: relative;
}
button.multiselect > .caret {
    position: absolute;
    top: 15px;
    right: 10px;
}
table.table-vpaddingless tr td{
    padding-top: 0;
    padding-bottom: 0;
}
table.table-vpaddingless tr td.arrow{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

    /*#show_orders-orders, #show_orders-sold, #show_orders{*/
        /*overflow: scroll;*/
    /*}*/
/*@media all and (min-width:1360px) {*/
    /*#show_orders-orders, #show_orders-sold, #show_orders{*/
        /*overflow: auto;*/
    /*}*/
/*}*/
.deleted {
    color: red;
    padding-left: 10px;
}
.popover {
    max-width: 50%;
}
.popover-footer {
    padding: 8px 14px;
    margin: 0;
    font-size: 10px;
    font-weight: normal;
    line-height: 12px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.btn-accept {
    background-color: #f5f5f5 !important;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #e2e2e2 !important;
    border-radius: 3px;
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 0;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    vertical-align: middle;
    font-weight: bold;
}
.btn-accept:hover {
    color: #333333;
}
.js-personal {
    cursor: pointer;
    border-radius: 0 4px 4px 0 !important;
}

.orange {
    background-color: #FFF4CE !important;
}
.editable-click {
    cursor: pointer;
}
.hide-sidebar .blinking{
    animation:blinking 3s infinite;
}
@keyframes blinking{
    0%{color:rgba(0, 0, 0, 1);}
    50%{color:rgba(0, 0, 0, 1); background-color: rgba(98, 203, 49, 0.4)}
    100%{color:rgba(0, 0, 0, 1);}
}
.alert-after-one-day {
    background-color: #FFBBBB;
}
.alert-before-one-hour {
    background-color: #FFf8f8;
}
.btn-timer {
    white-space: nowrap;
}

#right-sidebar {
    background-color: #fff;
    border-left: 1px solid #e4e5e7;
    position: fixed;
    top: 0;
    width: 460px !important;
    z-index: 1009;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
}
#right-sidebar.sidebar-open {
    display: block;
}

#right-sidebar .sidebar-heading {
    padding: 10px;
}

#right-sidebar .panel-heading.hbuilt {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #f7f9fa;

}

#right-sidebar .panel-body{
    border: none;
    border-top: 1px solid #e4e5e7;
    border-radius: 0;
}

#right-sidebar .panel-collapse {
    margin-bottom: 0;
}

#right-sidebar .panel-collapse {
    margin-bottom: 0;
}