
#warehouses_content {
    min-height: 200px;
    margin-top: 20px;
}

.vertical-line {
    border-right: 1px solid #DDDDDD;
    height: 100px;
}

.searchselect {
    background-color: #EEEEEE;
    border-color: #D3D3D3 -moz-use-text-color #D3D3D3 #D3D3D3;
    border-image: none;
    border-radius: 4px 0 0 4px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    margin-right: -2px;
    padding: 1px;
    position: relative;
    width: 105px;
}

.searchselect {
    background-color: #EEEEEE;
    border-color: #D3D3D3 -moz-use-text-color #D3D3D3 #D3D3D3;
    border-image: none;
    border-radius: 4px 0 0 4px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    margin-right: -2px;
    padding: 1px;
    position: relative;
    width: 105px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    height: 26px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    height: 18px;
    padding: 1px;
}

#debit-supplier-order {
    max-height: 220px;
    overflow-y: scroll;
}

#create_inventories {
    margin: 20px;
}

.inventory-row {
    cursor: pointer;
}

.scan-serial-error {
    font-size: 14px;
}

.open-product-inv {
    cursor: pointer;
}

.product-inventory {
    padding: 0px !important;
}

.close-inv {
    bottom: 20px;
    position: absolute;
}

.table tbody td.assumption {
    color: #949494;
}

#debit-so-form .control-label {
    margin-top: 8px;
    width: 230px;
}

#debit-so-form .controls {
    margin-left: 250px;
}

#scanner-moves-alert-body {
    font-size: 38px;
    line-height: 34px;
}
.add-warehouse-table {
    cursor: pointer;
    float: left;
    width: 270px;
    height: 130px;
}
.add-warehouse-table img {
    opacity: 0.3;
    transition: opacity 0.15s linear 0s;
    width: 100px;
    margin-top: 50%;
    margin-left: 50%;
    left: -50px;
    top: -120px;
    position: relative;
}
.warehouse-title {
        width: 100%;
        height: 26px;
        background-color: #F7F9FA;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    .warehouse-title > div {
        float: left;
        line-height: 26px;
    }

    .warehouse-title .warehouse-filter {
        width: 30px;
        padding: 0 5px;
    }

    .warehouse-title .warehouse-print {
        float: right;
        width: 40px;
        padding: 0 5px;
        border-left: 1px solid #ddd;
        text-align: center;
    }

    .warehouse-title > .title {
        padding: 0 10px;
        text-align: center;
        width: 200px;
    }

    .show_warehouse {
        float: left;
        height: 130px;
        margin: 0 10px 10px 0;
        width: 273px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .show_warehouse > .warehouse-content {
        text-align: center;
        line-height: 26px;
    }
ul.dropdown-menu {
    padding: 10px;
}
.dropdown-btn_location {
    padding: 0;
    border-radius: 0;
    border: 1px solid transparent !important;
    background-color: transparent;
}
.dropdown-btn_location:hover {
    background-color: transparent;
}
.open > .dropdown-btn_location:focus,
.open > .dropdown-btn_location.focus,
.open > .dropdown-btn_location.hover
{
    background-color: transparent !important;
}
